.banner .background {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/02/Canterbury_Cathedral_-_Portal_Nave_Cross-spire.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(0.25vh) opacity(0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
}

.banner {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.banner .text_center {
    margin: 10vh;
    font-size: 3vw;
    flex-grow: 1;
}

.text_center {
    text-align: center;
    align-self: center;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0.5em;
    font-size: revert;
}
.logo {
    height: 25vh;
}
