a {
    color: #ed8e09;
}

.btn-primary {
    color: #ed8e09;
    border-color: #ed8e09;
    background-color: #ed8e09;
}
.btn-primary:hover {
    color: #da7e00;
    border-color: #da7e00;
    background-color: #da7e00;
}

.navbar {
    z-index: 99999; /* over AddEvent button */
}
.navbar .logo {
    height: 2em;
}
.navbar .icons img {
    width: 32px;
    height: 32px;
}
.navbar.navbar-dark a {
    color: white;
}
.navbar.navbar-dark a:hover {
    text-decoration: none;
}

.title .background {
    /*
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Canterbury_Cathedral_-_Portal_Nave_Cross-spire.jpeg/624px-Canterbury_Cathedral_-_Portal_Nave_Cross-spire.jpeg");
    */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px) opacity(0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
}

.title h1 {
    display: inline;
    vertical-align: middle;
}
.title .logo {
    height: 4em;
}

h2 {
    border-bottom: solid 1px;
}

a.btn {
    color: white !important;
}

.image-flow-set .img-thumbnail {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#talks a { display: inline-block; color: inherit; text-decoration: none;}
#talks img {
    object-fit: cover;
    height: 6.5em;
    width: 6.5em;
}
#talks h5 span {
    font-size: 0.8rem;
    color: grey;
}
#talks p {
    margin: 0;
}

#sponsors img {
    object-fit: contain;
    max-height: 10em;
}


#supporters {
    font-size-adjust: 0.4;
}

#supporters img {
    max-height: 0em;
}

#supporters .card_container {
    display: flex;
    flex-wrap: wrap;
}
#supporters .card {
    width: 12rem;
    flex: none;
    margin: 0.25em;
}
#supporters .card-body {
    padding: 0.25em;
}

#sponsors .card {
    margin-bottom: 1em;
}
